<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="basic.css" />
    <title>Flex Box</title>
  </head>
  <body>
    <div class="container">
      <div class="box sidebar">Sid</div>
      <div class="box header">Header</div>
      <div class="box stat-one">Stat-one</div>
      <div class="box stat-two">Stat-two</div>
      <div class="box stat-three">Stat-three</div>
      <div class="box stat-four">Stat-four</div>
      <div class="box chart-one">Chart-one</div>
      <div class="box chart-two">Chart-two</div>
      <div class="box overview">Overview</div>
      <div class="box reminder">Reminder</div>
    </div>
  </body>
</html>
