* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg.png");
}

.box {
  background-image: linear-gradient(
    160deg,
    rgba(0, 148, 233, 0.762) 0%,
    rgba(128, 208, 199, 0.1) 100%
  );
  border-radius: 8px;
}

.container {
  height: 100vh;
  width: 100%;
}
